.App {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.green-rectangle {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: #5ED98F;
  height: 80vh;
  width: .8%; 
  z-index: 1;
}

.col-four-container {
  display: flex;
  flex-direction: column-reverse;
}