.Clock {
    color: #20324D;
    margin: 44px;
    z-index: 1;
}

h1, h2 {
    margin: 0;
}

.Clock h1 {
    color: #757575;
    font-size: 3em;
    padding-top: 10px;
}

.Clock h2 {
    color: #757575;
    font-size: 1em;
    font-weight: 500;
}