.TodoItem {
    margin: 8px 0px;
    display: flex;
}

.value-input {
    flex-grow: 2;
    background: aliceblue;
    border-radius: 5px 0 0 5px;
    border: solid 1px black;
    border-right: 0;
    font-size: 1.3em;
    width: 80%;
}

.delete-button {
    font-size: 1.2em;
    background-color: rgb(240, 254, 255) ;
    border: solid 1px black;
    border-radius: 0 5px 5px 0;
}