.Todo {
    padding: 2em;
    height: 100vh;
    color: #3A3A3A;
    position: relative;
}

.TodoItem-list-header {
    font-weight: 400;
    padding-bottom: 2em;
}

.new-item-button {
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2em;
    border: 0;
    background-color: #3773FF;
    width: 3em;
    height: 3em;
}

.plus-icon {
    text-align: center;
    fill: white;
    width: 90%;
    height: 90%;
}
