.TodoItem {
    margin: 8px 0px;
    display: flex;
}

.value-input {
    font-size: 1.2em;
    border: solid 1px grey;
    width: 80%;
}

.delete-button {
    font-size: 1.2em;
    background-color: white;
    border: solid 1px grey;
}